body {
    display: flex;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 12px 200px;
    padding-bottom: 100px;
    flex-direction: column;
    flex: 1;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header-logo {
    font-size: 24px;
    display: flex;
    font-weight: 700;
}

.header-links {
    display: flex;
    justify-content: center;
}

 .header-links a {
    text-decoration: none;
    color: #E5E7EB;
} 

.header-links ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    margin: 0;
}

.header-body {
    display: flex;
    justify-content: space-between;  
    margin: 0;
}

.hero-body {
    display: flex;
    flex-direction: column;
    width:400px;
    justify-content: center;
}

.hero-body .hero-text {
    font-size: 48px;
    font-weight: 900;
}

.hero-body .hero-sec-test,
.header-links a {
    font-size: 18px;
    color: #E5E7EB
}

.hero-body p {
    margin: 0;
}

.hero-body a.hero-btn {
    background-color: #3882F6;
    color:#F9FAF8;
    font-weight: 800;
    width: 100px;
    border-radius: 10px;
    margin-top: 8px;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
}



.header-img {
    display: flex;
    justify-content: center;
}

.header-img img {
    max-width: 400px;
}

.info-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.info-text {
    display: flex;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    justify-content: center;
    align-items: center;
    margin: 24px 0px;

}

.img-container {
    display: flex;
    justify-content: center;
    margin: 16px 100px;
    gap: 32px;
}

.img-box {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    max-height: 300px;
    justify-content: center;
    align-items: center;
}

.img-box img {
    height: 200px;
    border: 5px solid;
    border-color: #3882F6;
    border-radius: 14px;
    padding: 8px;
}

.img-box p {
    text-align: center;
    width: 175px;
    font-size: 16px;
    color: #343333;
}

.quote-body {
    display: flex;
    background-color: #E5E7EB;
}

.quote-container {
    display: flex;
    flex-direction: column;
    padding: 4% 15%;
}
.quote-container .quote {
    display: flex;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    padding: 0;
    margin: 0;
    
}

.quote-container .attr {
    display: flex;
    font-size: 18px;
    color: #1F2937;
    font-weight: 700;
    align-self: flex-end;
    margin: 0;
    padding-right: 56px;
}